/* Navbar styles */
.navbar {
  position: fixed;
  padding-top: 7%;
  left: 0;
  border: 2px solid #0d1024;
    
  background-color: #173454;
  color: white;
  height: 100vh;
  width: 14%; padding-right: 0.7rem;/* Initially collapsed */
  padding-left: 0.5rem;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1000; /* Ensure navbar is above other content */
}

.navbar ul {
  
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem; /* Space between icon and text */
  padding: 1rem;
  cursor: pointer;
}

/* Ensure icons are visible initially */
.navbar ul li img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Hide text initially, but make it visible on hover */
.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  opacity: 1; /* Initially hidden */
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(0); /* Slide in animation */
}

.navbar ul li:hover {
  background-color: #1c344d;
  animation: glitter 0.5s forwards;
}

/* Glitter animation */
@keyframes glitter {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: none;
  }
}

/* Page content styles */
.page-content {
  margin-left: 80px; /* Adjust for the width of the navbar */
  padding: 20px; /* Adjust for any margin or padding you need */
  transition: margin-left 0.3s ease;
}

.glitter-effect {
  position: absolute;
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, #ffffff, transparent);
  border-radius: 50%;
  animation: fade 0.8s forwards;
  pointer-events: none;
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
